# Python
__pycache__/
*.pyc
*.pyo
backend/app/similarity.pkl

# Virtual Environment
venv/
.env
backend/.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/

# Build files
dist/
build/

# ML model files
*.pkl